.cabecalho__mobile{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--cor-principal);
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.cabecalho__menu__mobile {
    width: 50px;
    height: 50px;
    background-image: url("../assets/menu-brancoo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}

.container__mobile{
    display: flex;
    align-items: center;
}

.container__imagem__mobile{
    padding-right: 0.5em;
}

.container__botao__mobile{
    display: none;
}

.lista-menu__mobile{
    display: none;
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 3;
}

.lista-menu__item__mobile{
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--cor-principal);
}
    
.lista-menu__link__mobile{
    background: white;
    background-clip: text; /* Para aparecer a cor do background somente onde tem texto */
    font-family: var(--fonte-principal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px
}

.container__botao__mobile:checked~.lista-menu__mobile{
    display: block;
}

.logotipo__mobile{
    width: 50px;
    height: 50px;
    padding: 0 1.5em;
}

.redes-sociais__mobile{
    width: 30px;
    height: 30px;
}

.background__barbearia__mobile {
    position: relative;
    background-image: url(/src/assets/barbeariaBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-family: var(--fonte-principal);
}

.background__barbearia__mobile::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* preto com 30% de transparência */
    z-index: 1;
}

.logotipo__central__mobile{
    margin-top: 1em;
    width: 250px;
    height: 250px;
    z-index: 2;
}
