@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/mobile/css/header.css);

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #f1fffe;
    --cor-principal: #16191d;
    --cor-secundaria:  #e1b607;

    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    
}
main{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home{
    margin: 0 3em 3em 3em;
}

.titulo__home{
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte-principal);
}

.texto__home{
    margin: 1em;
    font-family: helvetica;
    font-weight: 500;
    color: var(--cor-principal);
}

.tesoura__centro{
  text-align: center;
}
.tesoura{
  width: 100px;
  height: 100px;
}

.imagem__supreme{
    text-align: center;
    padding: 30px 0px;
    background-color: var(--cor-de-fundo);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.imagem__supreme img{
    width: 230px;
    height: 310px;
}

.pagina__servicos{
    width: 100%;
    background-color: var(--cor-principal);
}

.titulo__servicos{
    letter-spacing: 1.5px;
    color: var(--cor-de-fundo);
    margin-top: 1em;
}

.cards__imagens {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
}

.corte, .barba, .cortemaisbarba{
  width: 280px;
  height: 330px;
  border-radius:1px;
  margin-top: 1rem;
}

.box {
  border-radius: 2px;
  margin: 0 5em 17em ;
  width: 320px;
  height: 450px;
  transition: transform 0.3s ease;
}
  
.box:hover {
  transform: translateY(-5px);
}

.imagens__descricao{
    color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    padding: 20px;
    text-align: left;
    margin-bottom: 1em;
}

.imagens__descricao h2{
    letter-spacing: 1.5px;
    margin-bottom: 1em;
}
.imagens__descricao h3{
    font-weight: 400;
}

.imagens__descricao p{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    word-spacing: 0.5px;
    letter-spacing: normal;
    margin-bottom: 0.5em;
}

.botao__agendar a {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 12px 30px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 1px;
    margin-bottom: 1em;
}


.pagina__profissionais{
    width: 100%;
    background-color: var(--cor-de-fundo);
}
.titulo__profissionais{
    margin: 1em;
}

.imagens__profissionais{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.fotos{
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.descricao__matheus, .descricao__gabriel{
    color: var(--cor-principal);
    padding: 10px 70px;
    text-align: left;
    margin-bottom: 1em;
}

.descricao__matheus h2, .descricao__gabriel h2{
    font-family: var(--fonte-principal);
    letter-spacing: 1.5px;
    margin-bottom: 1em;
    color: var(--cor-secundaria);
    text-shadow: 2px 4px 50px rgba(0,0,0,0.3);
}
.descricao__matheus p, .descricao__gabriel p{
    font-weight: 600;
    font-size: 0.8rem;
    font-family: var(--fonte-secundaria);
}

.botao__agendar__profissionais {
  display: inline-block;
  padding: 10px 60px;
  font-family: var(--fonte-principal);
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(135deg, #efc210 0%, #e67e22 100%);
  border-radius: 5px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-bottom: 1em;
}

.pagina__unidade{
    width: 100%;
    background-color: var(--cor-de-fundo);
}

.titulo__unidade{
    margin-top: 1em;
}

.imagens__nossaunidade{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.imagens__terciaria{
    display:flex;
    border-radius: 10px;
    margin: 0em 0.2em;
    width: 100px;
    height: 180px;
}

.unidade-box {
  border: 1px solid #000000;
  padding: 20px;
  margin: 3em auto;
  max-width: 300px;
  text-align: center;
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-secundaria);
}

.unidade-nome {
  color: var(--cor-secundaria);
  font-size: 1.73rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 1px 4px 80px rgba(0,0,0,0.6);
}

.linha-divisoria {
  border-top: 1px solid #000000;
  margin: 0 0 1em;
  width: 100%;
}

.unidade-endereco {
  font-size: 16px;
  color: var(--cor-principal);
  line-height: 1.6;
}

.unidade-img {
  width: 300px;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

.unidade-horario {
  font-size: 16px;
  color: var(--cor-principal);
  margin: 15px 0;
}

.botao-mapa {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
}

.botao-mapa:hover {
  background-color: black;
  color: white;
}
